# Python cache
__pycache__/
*.py[cod]

# Environment and virtual environment directories
venv/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Streamlit specific
.streamlit/

# Other
*.log
